{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li ><a href="{% url 'home' %}">Inicio</a></li>
			<li ><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suárez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' %}">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li class="current"><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}

{% block eventos %}
	<table border ="1" width="370">
		<tr bgcolor="#FC9FFF">
			<td align="center"><h3><strong>Ultimos 3 Eventos</strong></h3></td>
		</tr>
		{% load static %}
		{% if lista_eventos %}
			{% for n in lista_eventos %}
				<tr><td height="40" style="text-indent: 1em;font-size:0.9em">
					<h4><a href="{% url 'eventoDetalle' n.id %}" >{{ n.titulo }}</a></h4>		
				</td></tr>
			{% endfor %}
		{% else %}
			<p>No hay eventos</p>
		{% endif %}	
	</table>
	<a href="{% url 'eventos' %}" class="buttonlink" align="center">Read more</a>
{% endblock %}

{% block contenido %}
<h1 style="text-decoration: underline">Autor</h1>
{% if autor %}
    <h3 style= "color: #348F41;"><strong>{{autor.nombre}} {{autor.apellido}} </strong></h3>
	{% if autor.imagen %}
	{% load static %}
		<img alt="{{ autor.imagen.name }}" src="{{ autor.imagen.url }}" style="border:2px solid; color:black" width="100" height="10" />
	{% endif %}

    {% if lista_libros %}
		<br><br>
		<h3 style= "color: #80BC00;">Lista de Libros escritos por este autor: </h3>
		{% for p in lista_libros %}
			<ul>
				<li><h3><a href="{% url 'libroDetalle' p.id  %}">{{p.titulo}}</a></h3></li>
			</ul>
        {% endfor %}
       
    {% endif %}
    
{% else %}
    <p>No existe este autor.</p>
{% endif %}

{% endblock %}

