{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li ><a href="{% url 'home' %}">Inicio</a></li>
			<li><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suárez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' %}">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li class="current"><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}



{% block contenido %}
<h1 style="text-decoration: underline">Contacto</h1>
<p>Estamos en la calle Unibertsitate Etorb., 24, 48007 Bilbao - Bizkaia.<br> Apartado 20044</p>
<div>
    <!--<iframe width="100%" height="450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1452.5272369129152!2d-2.940798543558223!3d43.27123457913631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e502049eec4cd%3A0x6e6227a3fb44af3!2sC.%20Hermanos%20Aguirre%2C%202%2C%2048014%20Bilbao%2C%20Vizcaya!5e0!3m2!1ses!2ses!4v1644254010503!5m2!1ses!2ses"></iframe>-->
	<iframe width="100%" height="450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11620.21586749002!2d-2.9385576!3d43.2712452!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ea1bd3e8bae3141!2sUniversidad%20de%20Deusto!5e0!3m2!1ses!2ses!4v1648135053050!5m2!1ses!2ses"></iframe>
	<br/>
</div>
<br><br>
<p style="font-size: medium;">Puedes contactar también a través de este formulario: </p>
<h1 style="text-decoration: underline">Formulario</h1>

<div id="form" class="form">
    <form class="formulario">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="text">
            {{ form.usuario.errors }}
            <label for="{{ form.usuario.id_for_label }}">Nombre y Apellidos: </label>
            {{ form.nombreApellidos }}
        </div>
        <br>
        
        <div class="text">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">DNI: </label>
            {{ form.dni }}
        </div>
        <br>

        <div class="text">
            {{ form.text.errors }}
            <label for="{{ form.text.id_for_label }}">Telefono: </label>
            {{ form.telefono }}       
        </div>
        <br>
        <div class="text">
            {{ form.libro.errors }}
            <label for="{{ form.libro.id_for_label }}">Email: </label>
            {{ form.email }}        
        </div>
        <br>
		
		<br>
        <div class="text">
            {{ form.libro.errors }}
            <label for="{{ form.libro.id_for_label }}">Describe tu consulta o pregunta.</label>
            <div class="text">{{ form.texto }}</div>         
        </div>
        <br>
        <input type="checkbox" class="checkbox" value="acepto" required>
        He leido y acepto
        <a href="{% url 'legal' %}"">la clausula de protección de datos personales</a><br>
        <br> 
        <input type="submit" name="submit" id="submit" value="Submit"/>
        
        <input type="reset" name="reset" value="Reset"/>
        <br><br>
        
   
    </form>
</div>

{% endblock %}
