{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li class="current"><a href="{% url 'home' %}">Home</a></li>
			<li ><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suarez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' %}">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}

{% block contenido %}

<h1 style="text-decoration: underline">Listado de Eventos</h1>
	{% load static %}
	{% if lista_eventos %}
		{% for n in lista_eventos %}
			<h2><a href="{% url 'eventoDetalle' n.id %}">{{ n.titulo }}</a></h2>			
			<h4>{{ n.fecha }}</h4>	
			<h3 align="justify">{{ n.texto|truncatewords:20 }}</h3>	
			{% if n.url %}
				<h3>{{ n.url }}</h3>
			{% endif %}
			{% if n.imagen %}
				<img alt="{{ n.imagen.name }}" src="{% static n.imagen.name %}" width="100" height="10"/>
			{% endif %}
			<br>
		{% endfor %}
	{% endif %}
{% endblock %}