{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li ><a href="{% url 'home' %}">Inicio</a></li>
			<li ><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suarez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' %}">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li class="current"><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}

{% block eventos %}
	<table border ="1" width="350">
		<tr bgcolor="#FC9FFF">
			<td align="center"><h3><strong>Ultimos 3 Eventos</strong></h3></td>
		</tr>
		{% load static %}
		{% if lista_eventos %}
			{% for n in lista_eventos %}
				<tr><td height="40" style="text-indent: 1em">
					<h4><a href="{% url 'eventoDetalle' n.id %}" >{{ n.titulo }}</a></h4>		
				</td></tr>
			{% endfor %}
		{% else %}
			<p>No hay eventos</p>
		{% endif %}	
	</table>
	<a href="{% url 'eventos' %}" class="buttonlink" align="center">Read more</a>
{% endblock %}

{% block contenido %}
<h1 style="text-decoration: underline">Detalles del Libro </h1>
{% if libro %}
	<h2 align="justify" style= "color: #348F41;"><strong>{{libro.titulo}}</strong></h2>
	{% if libro.sinopsis %}
		<h3 style= "color: #80BC00;display:inline">Sinopsis: </h3>
		<p align="center" style ="font-size: 1.3em; color:#666;display:inline">{{libro.sinopsis|linebreaks}}</p>
	{% endif %}
	<br>
	{% if libro.fecha_publicacion %}
		<h4 style= "color: #80BC00; display:inline">Fecha Publicación:</h4><h4 style= "display:inline"> {{ libro.fecha_publicacion}}</h4>
	{% endif %}
	<br><br>
	{% if libro.imagen %}
	{% load static %}
		<img alt="{{ libro.imagen.name }}" src="{{ libro.imagen.url }}" width="140" height="10" style="border:2px solid; color:black" />
	{% else %}
		<p>No hay imagen.</p>
	{% endif %} 
	<br>
	{% if libro.url %}
		<h3 style= "color: #80BC00; display:inline">URL: </h3><h3 style= "display:inline">{{ libro.url }}</h3>
		<br><br><br>
	{% endif %} 
	{% if libro.titulo == "Memoria 2020"%}
		<h4><a href="{% static 'images/LUIS BERNAOLA MEMORIA 2020.pdf' %}" download="Estatutos2014">Descargar Memoria 2020 </a></h4>
	{% endif %} 
	
	<br>
	
    <p>
        {% if autores %}
		<h3 style= "color: #80BC00; display:inline">Autor </h3>
            {% for autor in autores %}
				<ul>
					<li type ="square" style="color:red"><h3 style= "display:inline"> <a href="{% url 'autor' libro.id autor.id %}"> {{ autor.nombre}} {{autor.apellido}}</a></h3></li>
				</ul>
				{% endfor %}
        {% endif %}
    </p>
	<h3 style= "color: #80BC00; display:inline">Editorial: </h3> <h3 style= "display:inline"> <a href="{% url 'editorialDetalle' libro.editorial.id %}">{{libro.editorial.nombre}}</a></h3>
    <br><br>

{% else %}
    <p>No existe este libro.</p>
{% endif %}

{% endblock %}
