{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li ><a href="{% url 'home' %}">Inicio</a></li>
			<li ><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suárez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' %}">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li class="current"><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}

{% block eventos %}
	<table border ="1" width="370">
		<tr bgcolor="#FC9FFF">
			<td align="center"><h3><strong>Ultimos 3 Eventos</strong></h3></td>
		</tr>
		{% load static %}
		{% if lista_eventos %}
			{% for n in lista_eventos %}
				<tr><td height="40" style="text-indent: 1em;font-size:0.9em">
					<h4><a href="{% url 'eventoDetalle' n.id %}" >{{ n.titulo }}</a></h4>		
				</td></tr>
			{% endfor %}
		{% else %}
			<p>No hay eventos</p>
		{% endif %}	
	</table>
	<a href="{% url 'eventos' %}" class="buttonlink" align="center">Read more</a>
{% endblock %}

{% block contenido %}

{% if lista_london %}
    {% for l in lista_london %}
		<h1 style="text-decoration: underline">{{ l.titulo}}</h1>
		{% if l.fecha %}
			<h4>{{ l.fecha}}</h4>
		{% endif %} 
		<br>
		<p align="justify" style="line-height: 1.5">{{ l.texto}}</p>
		{% if l.imagen %}
		{% load static %}
			<center>
				<img alt="{{ l.imagen.name }}" src="{{ l.imagen.url }}" align="midlle" width="700" height="100" style="border:2px solid; color:black"/>
			</center>
		{% endif %}
		<br><br>
		{% if l.url %}
			<h3 style= "color: #80BC00; display:inline">URL: </h3><h3 style= "display:inline"><a href="{{ l.url }}" target="_blank">Pagina de London Finance Seminar</a></h3>
		{% endif %}		
		<br>	
    {% endfor %}
                
{% else %}
    <p>No tenemos ninguna información.</p>
{% endif %}

{% endblock %}
