{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li ><a href="{% url 'home' %}">Inicio</a></li>
			<li ><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li class="current"><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suárez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' %}">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}

{% block eventos %}
	<table border ="1" width="370">
		<tr bgcolor="#FC9FFF">
			<td align="center"><h3><strong>Ultimos 3 Eventos</strong></h3></td>
		</tr>
		{% load static %}
		{% if lista_eventos %}
			{% for n in lista_eventos %}
				<tr><td height="40" style="text-indent: 1em;font-size:0.9em">
					<h4><a href="{% url 'eventoDetalle' n.id %}" >{{ n.titulo }}</a></h4>		
				</td></tr>
			{% endfor %}
		{% else %}
			<p>No hay eventos</p>
		{% endif %}	
	</table>
	<a href="{% url 'eventos' %}" class="buttonlink" align="center">Read more</a>
{% endblock %}

{% block contenido %}

<h1 style="text-decoration: underline">Listado de Actividades de Formación </h1>
<br>
<h2 style= "color: #348F41;"><strong> La Escuela de Práctica Empresarial</strong></h2>
<p align="justify" style="line-height: 1.5"> Aunque el contenido de los programas académicos es objeto de una constante revisión, y el profesorado actualiza sus 
sistemas docentes, la realidad empresarial nos ofrece gran riqueza de matices y presenta continuas necesidades de formación, que la disciplina
de un plan oficial de estudios no siempre puede recoger con la prontitud y agilidad que sería de desear. Conscientes de ello, y en estrecha 
colaboración con la Facultad, al amparo de la Fundación Luis Bernaola, en 1985 nació la "Escuela de Práctica Empresarial", teniendo como 
objetivo complementar la formación académica de alumnado de la Facultad de Ciencias Económicas y Empresariales de la Universidad de Deusto.
Para ello se diseñaron seminarios sobre materias estrictamente prácticas. Destacados profesionales de la vida empresarial hacen partícipes 
a los estudiantes de sus experiencias y conocimientos, consiguiendo de esa manera una continua adaptación de la formación del alumnado a las
 cambiantes exigencias del entorno, y proporcionando una vivencia más cercana del mundo empresarial al que van a incorporar. Pretende también, 
 fomentar el acercamiento Empresa-Universidad, y garantizar una formación más consonante con las necesidades del mundo profesional.
 <br>
 A partir del curso académico 1996-1997, parte de los Seminarios de Práctica Empresarial que la Fundación había venido ofreciendo desde el 
 curso 1985-1986 a los alumnos de 5º curso de la facultad, pasaron a convertirse en asignaturas optativas de la Licenciatura en Administración
 y Dirección de Empresa.
 <br>
 Como puede observarse en las actividades del año 2020, muy diferentes empresas colaboran con la Fundación Luis Bernaola para la realización de 
 los diferentes cursos.
</p>

<br>
<h2 style= "color: #348F41;"><strong> ACTIVIDADES 2020 </strong></h2>
<p align="justify" style="line-height: 1.5"> Durante el segundo semestre del Curso Académico 2019-20 y el primer semestre del Curso Académico 2021-21
se han ofrecido, bajo el auspicio de la Fundación Luis Bernaola, las siguientes asignaturas pertenecientes a profundizaciones,
a los alumnos dentro del Plan de Estudios conducente al Grado en Administración y dirección de Empresas:
</p>
<br>
<ul>
	{% if lista_cursos %}
		{% for m in lista_cursos %}
			<li type ="square" style="color:red"><h2>{{ m.titulo}}</h2></li>
			{% for m in m.modulos.all %}
				<ul type ="disc" style="color:#f5fc02"><li><h3><a href="{% url 'moduloDetalle' m.id  %}">{{ m.titulo}}</a></h3></li></ul>
			{% endfor %} 
			<br>
		{% endfor %}  
	
	{% else %}
		<p>No tenemos ninguna actividad de formacion.</p>
	{% endif %}
	
	{% if lista_seminarios %}
		{% for s in lista_seminarios %}
			<li type ="square" style="color:red"><h2>{{ s.titulo}}</h2></li>
			{% for m in s.modulos.all %}
				<ul type ="disc" style="color:#f5fc02"><li><h3><a href="{% url 'seminarioDetalle' m.id  %}">{{ s.titulo}}</a></h3></li></ul>
			{% endfor %} 
			<br>
		{% endfor %} 
	{% else %}
		<p>No tenemos ninguna actividad de formacion.</p>
	{% endif %}
<br>	
</ul>
{% endblock %}
