{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li ><a href="{% url 'home' %}">Inicio</a></li>
			<li class="current"><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suárez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' %}">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}

{% block eventos %}
	<table border ="1" width="350">
		<tr bgcolor="#FC9FFF">
			<td align="center"><h3><strong>Ultimos 3 Eventos</strong></h3></td>
		</tr>
		{% load static %}
		{% if lista_eventos %}
			{% for n in lista_eventos %}
				<tr><td height="40" style="text-indent: 1em">
					<h4><a href="{% url 'eventoDetalle' n.id %}" >{{ n.titulo }}</a></h4>		
				</td></tr>
			{% endfor %}
		{% else %}
			<p>No hay eventos</p>
		{% endif %}	
	</table>
	<a href="{% url 'eventos' %}" class="buttonlink" align="center">Read more</a>
{% endblock %}

{% block contenido %}
	
<h1 style="text-decoration: underline;">Quienes Somos</h1>

	<p align="justify" style="line-height: 1.5">La Fundación Bernaola nace en 1984 como iniciativa de un grupo de exalumnos en recuerdo al Padre Bernaola SJ quien fue Decano de la Universidad Comercial de Deusto durante varias décadas, respondiendo a un principio de solidaridad intergeneracional por el que los más jóvenes se benefician del apoyo económico y profesional de los licenciados veteranos.
	En la actualidad cuenta entre sus socios fundadores con más de 400 personas físicas y medio centenar de empresas.
	Como queda recogido en la Escritura de Constitución, el motivo central para la creación de la Fundación fue y es: La figura del EMPRESARIO, clave del progreso económico de la Sociedad, si se desean mantener los principios de economía libre de mercado que la Constitución Española de 1.978 reconoce en el art. 38. Y ello, porque sólo a través de hombres y mujeres con formación e iniciativa que asuman el indudable riesgo empresarial, podrá subsistir el espíritu innovador que permita la obtención de los mejores resultados.
	El objetivo fundacional es contribuir a mejorar la formación de profesores y estudiantes de La Comercial, hoy campus de Bilbao de la Deusto Business School, a través de seminarios, programas educativos, proyectos de investigación y becas de graduación y predoctorales.
	</p>	
{% endblock %}