{% extends "base.html" %}
{% block menu %}
<!-- main navigation -->
	<nav id="topnav" role="navigation">
		<div class="menu-toggle">Menu</div>  
		<ul class="srt-menu" id="menu-main-navigation">
			<li ><a href="{% url 'home' %}">Home</a></li>
			<li ><a href="{% url 'quienesSomos' %}">Quienes Somos</a>
				<ul>
					<li><a href="{% url 'padreLuisBernaola' %}">Padre Luis Bernaola</a></li>
					<li><a href="{% url 'patronato' %}">Junta de Patronato</a></li>
					<li class="current"><a href="{% url 'socio' %}">Estatutos</a></li>
				</ul>
				  
			</li>
			<li><a href="{% url 'actividades' %}">Actividades</a>
				<ul>
					<li><a href="{% url 'modulos' %}">Cursos Varios</a></li>
					<li><a href="{% url 'edicionPremios' %}">Premios Rafael Álvarez Suarez</a></li>
					<li><a href="{% url 'tedx' %}">TEDX</a></li>
					<li><a href="{% url 'seminarios' % ">Seminarios</a></li>
					<li><a href="{% url 'ediciones' %}">Becas grado y postgrado</a></li>
					<li><a href="{% url 'patrocinio' %}">Patrocinio Trabajos Investigación</a></li>
					<li><a href="{% url 'london' %}">London Finance Seminar</a></li>
				</ul>
			</li>
			<li><a href="{% url 'libros' %}">Publicaciones</a></li>
			<li><a href="{% url 'contacto' %}">Contacto</a></li>	
		</ul>     
	</nav><!-- end main navigation -->	
{% endblock %}

{% block eventos %}
	<table border ="1" width="350">
		<tr bgcolor="#FC9FFF">
			<td align="center"><h3><strong>Ultimos 3 Eventos</strong></h3></td>
		</tr>
		{% load static %}
		{% if lista_eventos %}
			{% for n in lista_eventos %}
				<tr><td height="40" style="text-indent: 1em">
					<h4><a href="{% url 'eventoDetalle' n.id %}" >{{ n.titulo }}</a></h4>		
				</td></tr>
			{% endfor %}
		{% else %}
			<p>No hay eventos</p>
		{% endif %}	
	</table>
	<a href="{% url 'eventos' %}" class="buttonlink" align="center">Read more</a>
{% endblock %}

{% block contenido %}
{% load static %}
<h1 style="text-decoration: underline">Los Fundadores y Colaboradores</h1>
<p align="justify"> El colectivo de Fundadores y Colaboradores a 31 de diciembre de 2020 está compuesto por
466 miembros, de los cueles 410 son personas físicas y 56 jurídicas.
<br>
El conjunto de las personas físicas lo constituyen casi en su totalidad miembros de la antigua Asociación 
de Licenciados por la Universidad Comercial de Deusto, hoy integrada en la Deusto Business Alumni.
<br>
La relación de Fundadores y Colaboradores a la fecha antes citada, es la siguiente:</p>
<br>
<table>
	<tr>
		{% if lista_socios_fisicos %}
			<td align="center" valign="top" width="400" height="300" >
				<h2 style= "color: #348F41; font-weight: bold;">Personas Físicas </h2>
				{% for e in lista_socios_fisicos %}
					<li>
						<h3 style= "color: #80BC00; font-size: 20px;display:inline">{{ e.nombre}}</h3>
						{% if e.apellido %}
							<h3 style= "color: #80BC00; font-size: 20px;display:inline ">{{ e.apellido}}</h3>
						{% endif %}
					</li>
					{% if e.NIF %}
						<h3>DNI: {{ e.NIF}}</h3>
					{% endif %}
					{% if e.fecha_alta %}
						<h4>Fecha de Alta: {{ e.fecha_alta}}</h4>
					{% endif %}
					{% if e.fecha_baja %}
						<h4>Fecha de Baja: {{ e.fecha_baja}}</h4>
					{% endif %}
					<br>
				{% endfor %} 
			</td>
		{% else %}
			<p>No hay socios.</p>
		{% endif %}
		
		{% if lista_socios_juridicos %}
			<td align="center" valign="top" width="400" height="300">
				<h2 style= "color: #348F41; font-weight: bold;">Personas Jurídicas </h2>
				{% for e in lista_socios_juridicos %}
					<li>
						<h3 style= "color: #80BC00; font-size: 20px; display:inline">{{ e.nombre}}</h3>
						{% if e.apellido %}
							<h3 style= "color: #80BC00; font-size: 20px; display:inline">{{ e.apellido}}</h3>
						{% endif %}
					</li>
					{% if e.NIF %}
						<h3>DNI: {{ e.NIF}}</h3>
					{% endif %}
					{% if e.fecha_alta %}
						<h4>Fecha de Alta: {{ e.fecha_alta}}</h4>
					{% endif %}
					{% if e.fecha_baja %}
						<h4>Fecha de Baja: {{ e.fecha_baja}}</h4>
					{% endif %}
					<br>			
				{% endfor %}
			</td>
		{% else %}
			<p>No hay socios.</p>
		{% endif %}
	
		
	</tr>
</table>
<p align="justify">El 2019 se ha registrado el siguiente movimiento de altas:
<br><br>
Fundadores al 31-12-19 ..................... 465
<br>
Altas  ....................................................... +  1
<br>
____
<br>
Fundadores al 31-12-20 ..................... 466

  </p>
<center>
	<img src="{% static 'images/hoja 29.jpg' %}" width="500" height="400"/> 
</center>
{% endblock %}